<footer>
  <div class="footer-content">
    <div class="c-wrapper" data-type="default">
      <span>{{ site.footer.description }}</span>
      <span>{{ site.footer.copyright }}</span>
    </div>
  </div>
</footer>