{% set issuelist = search.pages("type=issues completed!=true", "priority=asc date=asc", 30) %}

<h3>Total Issues by priority {{ issuelist.length }} </h3>

<ul class="issue-list">
  {% for post in issuelist %}
    <li class="issue-list-post">
      <a href="{{ post.data.url }}" class="issue-list-title"{% if entry.data.url == url %} aria-current="page"{% endif %}>
        ({{ post.data.priority }})
        {% if post.data.title %}
          <strong>{{ post.data.title }}</strong>
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>

      <time class="issue-list-date" datetime="{{ post.data.date | date('DATETIME') }}">
        {{ post.data.date | date('HUMAN_DATE') }}
      </time>

      {% for tag in post.data.tags %}
      {% set page = search.page("type=tag tag='" + tag + "'") %}
      {% if page %}
      <a href="{{ page.data.url  }}" class="tag">{{ tag }}</a>
      {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>
