---
layout: layouts/default.njk
title: Posts
templateClass: tmpl-issues
url: /posts/
type: postsIndex
menu:
  visible: true
  order: 1
---
<h1>Latests posts</h1>

{% include "../../core/modules/post-list/component.njk" %}