---
layout: layouts/home.njk
menu:
  visible: false
  title: Home
  order: 0
---

<h1> Welcome to my brand new blog.</h1>
<p>This is the MVP working version of the blog ant there's no much content at the moment.</p>

<h2>Why in english?</h2>
<p>I think one of the best ways to learn something is to apply the current knowledge you have, that has been always true for me. Even if you don't a have full understanding of the topic.<blockquote>The more you use it the more you will advance.</blockquote>
As an example, English is not my first language, not even the second, but the third language I was learnt.<br>
And I learnt it by myself; playing videogames, listening to songs, reading lyrics, watching movies...<br> The language allowed me to access all the knowledge stored in internet and when I know a little more then it made possible for me to read and understand tons of technical books, computing books, all kind of stuff related to my actual profession.<br>
<br>Along the years I have used that knwoledge to grow as a profesional and thrive, I've started to work with people no matter where they were based. Traveled to work to many places...<br>
</p>
<p>As I said above: <strong>The more you use it the more you will advance.</strong> Like a virtuous circle.</p>
<p>And that's the reason why I started this blog in english, just to be sure I got an inspiring challenge. One that will allow me to reach more incredible goals and a better and deep understanding of this skill.</p>
<p>That's all. If you find a typo or a misspelling here, Please be kind, remember I'm not a native speaker but I will be more than grateful if you leave me a note to fix it.</p>
<p>Peace, code and thanks in advance!</p>



