<nav class="navbar">
  <div class="c-wrapper" data-type="default">
    <div class="nav-container">
      <div class="logo"> 
        <a href="/" class="navbar-home">
          {{ site.title }}
        </a>
      </div>
      <div class="menu-items">
        <ul class="navbar-links">
        {%- for entry in search.pages("menu.visible=true", "menu.order") %}
          <li>
            <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
              {{ entry.data.menu.title or entry.data.title }}
            </a>
          </li>
        {%- endfor %}
        </ul>
      </div>
      <div class="hamburger">
        {% include "../../components/cta/hamburger/component.njk" %}
      </div>
      <div class="search">
      {%- if false %}
        {% include "../templates/navbar-search.njk" %}
      {% endif %}
      </div>
      <input class="grid-switch" type="checkbox" checked/>
    </div>
  </div>
</nav>