:root {
  --navbar-height: 12--sp;
}

.navbar {
  font: var(--typeset-action);
  height: var(--navbar-height);
  box-shadow: var(--shadow-xs);
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  color: var(--color-text);
  background-color: var(--color-base);

  & a {
    display: block;
    padding: 4--sp 8--sp 4--sp 0;

    &:not(:hover) {
      text-decoration: none;
    }

    &:active,
    &:visited {
      color: var(--color-text);
    }
  }

  & .logo {
    display:flex;
    align-content: center;
    padding: 0;
    

    & .navbar-home {
      font: var(--typeset-logo);
      height: var(--navbar-height);
    }
  }
}

.navbar-links {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 var(--main-width);

  & [aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
  }
}
.navbar-search {
  padding: 0 1em;
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media --bp-from--lg {
  .navbar .logo {
    position: absolute;
    left: 0;
    padding-inline: 5--sp;
  }
} 