.navbar {
  font: var(--typeset-action);
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--shadow-xs);
  /* padding: 0 4--sp; */

  & a {
    display: block;
    padding: 4--sp 8--sp 4--sp 0;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.navbar-home {
  font: var(--typeset-logo);
  padding: 0;
  position: absolute
}

.navbar-links {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 var(--main-width);

  & [aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
  }
}
.navbar-search {
  padding: 0 1em;
  margin-left: auto;
  display: flex;
  align-items: center;
}