:root {
  --main-width: 100%;
  --main-paddings: 0 5--sp;  
  --main-margin: 0;

  @media --bp-from--md {
    --main-margin: 0 auto;
    --main-width: 65ch;
  }
  
  @media --bp-from--lg {
    --main-width: 80ch;
    --main-paddings: 0;
  }
}



.layout-default {
  

  & main {
    padding: var(--main-paddings);
    max-width: var(--main-width);
    margin: var(--main-margin);

    & > :first-child {
      margin-top: 0;
    }
  }
}