:root {
  --main-width: 100%;
  --main-paddings: 0 5--sp;
  --main-margin: 12--sp 0 12--sp 0;

  @media --bp-from--md {
    --main-margin: 24--sp auto 24--sp auto;
    --main-width: 65ch;
  }
  
  @media --bp-from--lg {
    --main-width: 80ch;
    --main-paddings: 0;
  }
}



.layout-default {
  position: relative;
  padding-bottom: var(--footer-height);

  & main {
    padding: var(--main-paddings);
    max-width: var(--main-width);
    margin: var(--main-margin);

    & > :first-child {
      margin-top: 0;
    }
  }
}