:root {
  --layout-default-block-margin: 12--sp;

  @media --bp-from--md {
    --layout-default-block-margin: 24--sp;
  }

}


.layout-default {
  position: relative;
  padding-bottom: var(--footer-height);
  height: auto;
  min-height: 100%;
  
  & main {
    margin-block: var(--layout-default-block-margin);

    & > :first-child {
      margin-top: 0;
    }
  }
}