:root {
  --footer-padding: 0 5--sp;
  --footer-height: 12--sp;
}

footer {
  font: var(--typeset-small);
  width: 100%;
  height: var(--footer-height);
  /* margin-top: 18--sp; */
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-xs-inverted);
  position: absolute;
  bottom: 0;


  & .footer-content {
    margin: 0 auto;
    padding: var(--footer-padding);
  }
}