:root {
  --footer-padding: 0 5--sp;
}
footer {
  font: var(--typeset-small);
  width: 100%;
  height: 12--sp;
  margin-top: 18--sp;
  display: flex;
  box-shadow: var(--shadow-xs-inverted);
  align-items: center;


  & .footer-content {
    margin: 0 auto;
    padding: var(--footer-padding);
  }
}