<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
    <script type="module" src="/js/main.js"></script>
  </head>
  <body class="layout-default">
    {% include "../core/modules/navbar/component.njk" %}

    <main class="{{ bodyClass }}">
      <div class="c-wrapper" data-type="default">
        {{ content | safe }}
      </div>
    </main>

    <!-- footer -->
    {% include "../core/modules/footer/component.njk" %}

    <!-- Current page: {{ url }} -->
  </body>
</html>
