name: Publish on GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Setup Deno environment
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Setup Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('**/_config.ts', '**/import_map.json') }}

      - name: Build site
        run: |
          deno task build --location=https://katamo.github.io/public-blog/

      # - name: Deploy
      #   uses: crazy-max/ghaction-github-pages@v2.0.1
      #   with:
      #     build_dir: _site
      #     repo: Katamo/public-blog
      #     target_branch: main
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     GH_PATH: ${{ secrets.PUBLISH_SECRET }}
      
      - name: Deploy te public site
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: '_site'
          destination_repo: 'Katamo/public-blog'
          destination_folder: '../'
          user_email: 'oscardemata@gmail.com'
          user_name: 'Katamo'
          commit_message: 'New version release'