:root {
  --margin-headings: 6--sp 0 4--sp 0;
  --margin-textlines: 4--sp;

  @media --bp-from--md {
    --margin-headings: 8--sp 0 4--sp 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {font-size: 4--sp; }

body {
  font: var(--typeset-body);
  --spacing: 4--sp;

  &:has(input[type="checkbox"]:checked) {
    background-image: repeating-linear-gradient(lightCyan 0 var(--spacing), mistyRose 0  calc(var(--spacing) * 2));
  }
  & input[type="checkbox"] {
    position: fixed;
    top: 0;
    right: 0;
  }
}

h1 { font: var(--typeset-heading-1);}
h2 { font: var(--typeset-heading-2);}
h3 { font: var(--typeset-heading-3);}
h4 { font: var(--typeset-heading-4);}
h5 { font: var(--typeset-heading-5);}

h1,h2,h3,h4,h5,h6 {
  margin: var(--margin-headings);
}

p, ol, ul, dl, blockquote {
  margin-bottom: var(--margin-textlines);
}

a {
  /* color: var(--color-blue-700); */
  /* text-shadow: -5px 0px 2px -5px rgba(0,72,255,0.8), 5px 0px 2px -5px rgba(255,72,0,0.8); */
  /* text-shadow: 0px 0px 0px rgba(0,0,255,0.2), 0px 0px 0px rgba(255,0,0,0.2);
  transition: text-shadow 1s;

  &:hover {
    text-shadow: -.5px 0px 20px rgba(0,0,255,1), .5px 0px 20px rgba(255,0,0,1);
  } */
}

.post-tags {
  & a {
    display: block;
  }
}

.post-date {
  display: block;
}

/* Warning */
.warning {
  background-color: var(--yellow);
}

table {
  margin: 4--sp 0;

  & td,
  & th {
    padding-right: 4--sp;
  }
}

hr {}

ul,ol {
  list-style-position: inside;
}

small, .text_small {font-size: 0.9rem;}
