@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&family=Source+Serif+Pro:wght@300;400;600&family=JetBrains+Mono:wght@400&display=swap');

:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --font-family-serif: 'Source Serif Pro', serif;
  --font-family-mono: 'JetBrains Mono',Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;

  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 600;



  --font-size-0: 1rem/1.5rem;
  --font-size-action: 1.25rem/1rem;
  --font-size-code: 1rem/1.5rem;
  --font-size-logo: 1.25rem/1.25rem;
  --font-size-small: 0.8rem;

  --font-size-heading-1: 2rem/2.25rem;
  --font-size-heading-2: 1.75rem/2rem;
  --font-size-heading-3: 1.5rem/1.75rem;
  --font-size-heading-4: 1.25rem/1.5rem;
  --font-size-heading-5: 1rem/1.5rem;

  @media(--bp-from--md) {
    --font-size-0: 1.25rem/2rem;
    --font-size-action: 1.25rem/1rem;
    --font-size-code: 1rem/1.5rem;
    --font-size-logo: 1.25rem/1.25rem;
    --font-size-small: 0.8rem;
    
    --font-size-heading-1: 3rem/5rem;
    --font-size-heading-2: 2.5rem/3rem;
    --font-size-heading-3: 2rem/2.5rem;
    --font-size-heading-4: 1.5rem/2rem;
    --font-size-heading-5: 1.25rem/2rem;
  }


  /* font: font-style font-variant font-weight font-size/line-height font-family; */
  --typeset-body: var(--font-weight-light) var(--font-size-0) var(--font-family-serif);
  --typeset-action: var(--font-weight-medium) var(--font-size-action) var(--font-family);
  --typeset-code: var(--font-weight-medium) var(--font-size-code) var(--font-family-mono);
  --typeset-heading-1: var(--font-weight-bold) var(--font-size-heading-1) var(--font-family);
  --typeset-heading-2: var(--font-weight-bold) var(--font-size-heading-2) var(--font-family);
  --typeset-heading-3: var(--font-weight-bold) var(--font-size-heading-3) var(--font-family);
  --typeset-heading-4: var(--font-weight-bold) var(--font-size-heading-4) var(--font-family);
  --typeset-heading-5: var(--font-weight-bold) var(--font-size-heading-5) var(--font-family);
  --typeset-small: var(--font-weight-light) var(--font-size-small) var(--font-family-serif);
  --typeset-logo: var(--font-weight-medium) var(--font-size-logo) var(--font-family-mono);
}